<div id="trikot_<%= user.id %>" class="trikot trikot_<%= get_gender_of(user) %>" style="background-color: #<%= color %>;">
  <div id="trikot_<%= user.id %>_number" class="number"><%= user.number %></div>	
</div>


