<div class="boxheader">User List</div>

<div class="boxcontent">

  <table>
    <thead>
      <tr>
        <th>Login</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%=h user.login %></td>
          <td><%=h user.email %></td>
          <td><%=h user.roles.collect {|r| r.name }.join(", ") %></td>
          <td>
            <% if permitted_to? :show, user %>
              <%= link_to 'Show', user %>
            <% end %>

            <% if permitted_to? :edit, user %>
              | <%= link_to 'Edit', edit_user_path(user) %>
            <% end %>
            
            <% if permitted_to? :destroy, user %>
              | <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

