<div class="boxheader">User details: <b><%= @user.login %></b></div>

<div class="right"><%= image_tag @user.avatar.url(:thumb), :class => "right" %></div>


<% unless @user.number.blank? %>
  <div class="right">
    <%= render :partial => "trikot", :locals => { :user => @user, :color => @user.trikot_color } %>
  </div>
<% end %>

<div class="boxcontent">
  <table>
    <tr>
      <td colspan="2">
        <table class="horizontal">
            <% unless @user.forename.blank? and @user.surname.blank? %>
              <tr><td class="name">Name        </td> <td class="value"><%= "#{@user.forename} #{@user.surname}" %> <%= image_tag "#{get_gender_of(current_user)}.gif" %> </td></tr>
            <% end %>
            
            <% unless @user.birthday.nil? %>
              <tr><td class="name">Birthday    </td> <td class="value"><%= @user.birthday.to_s(:birthday)       %> <i>(Age: <%= ((Date.today - @user.birthday) / 365).floor %>)      </i> </td></tr>
            <% end %>

            <% unless @user.plays_since.nil? %>
              <tr><td class="name">Plays since </td> <td class="value"><%= @user.plays_since.to_s(:plays_since) %> <i>(<%= ((Date.today - @user.plays_since) / 365).floor   %> Years)</i> </td></tr>
            <% end %>

            <% unless @user.hometown.blank? %>
              <tr><td class="name">Hometown    </td> <td class="value"><%= @user.hometown %>                       </td></tr>
            <% end %>
            <% unless @user.veggie.nil? %>
              <tr><td class="name">Veggie      </td> <td class="value"><%= @user.veggie ? "Yes" : "No" %>          </td></tr>
            <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table class="horizontal">
            <tr><td class="name"><%= image_tag "email.gif"    %> </td> <td class="value"><%= mail_to @user.email                                                      %> </td></tr>
            <% unless @user.homepage.blank? %>
              <tr><td class="name"><%= image_tag "www.png"      %> </td> <td class="value"><%= link_to @user.homepage, @user.homepage                                   %> </td></tr>
            <% end %>

            <% unless @user.facebook.blank? %>
              <tr><td class="name"><%= image_tag "facebook.ico" %> </td> <td class="value"><%= link_to @user.facebook, "http://www.facebook.com/#{@user.facebook}"      %> </td></tr>
            <% end %>
            <% unless @user.myspace.blank? %>
              <tr><td class="name"><%= image_tag "myspace.ico"  %> </td> <td class="value"><%= link_to @user.myspace,  "http://www.myspace.com/#{@user.myspace}"        %> </td></tr>
            <% end %>
            <% unless @user.twitter.blank? %>
              <tr><td class="name"><%= image_tag "twitter.ico"  %> </td> <td class="value"><%= link_to @user.twitter,  "http://twitter.com/#{@user.twitter}"            %> </td></tr>
            <% end %>
            <% unless @user.flickr.blank? %>
              <tr><td class="name"><%= image_tag "flickr.ico"   %> </td> <td class="value"><%= link_to @user.flickr,   "http://www.flickr.com/photos//#{@user.twitter}" %> </td></tr>
            <% end %>
            
            <% unless @user.icq.nil? %>
              <tr><td class="name"><%= image_tag "http://status.icq.com/online.gif?web=#{@user.icq}&img=5" %> </td> <td class="value"><%= link_to @user.icq, "http://www.icq.com/people/#{@user.icq}" %> </td></tr>
            <% end %>
            <% unless @user.skype.blank? %>
              <tr><td class="name"><%= image_tag "http://mystatus.skype.com/smallicon/#{@user.skype}" %>      </td> <td class="value"><%= link_to @user.skype, "skype:simonlasselsberger?chat" %> </td></tr>
            <% end %>
        </table>
      </td>
      <td>
        <table class="horizontal">
            <tr><td class="name">Login count      </td> <td class="value"><%= @user.login_count      %> </td></tr>
            <tr><td class="name">Last request at  </td> <td class="value"><%= @user.last_request_at  %> </td></tr>
            <tr><td class="name">Last login at    </td> <td class="value"><%= @user.last_login_at    %> </td></tr>
            <tr><td class="name">Current login at </td> <td class="value"><%= @user.current_login_at %> </td></tr>
            <tr><td class="name">Last login ip    </td> <td class="value"><%= @user.last_login_ip    %> </td></tr>
            <tr><td class="name">Current login ip </td> <td class="value"><%= @user.current_login_ip %> </td></tr>
        </table>
      </td>
    </tr>
  </table>

  <%= link_to 'Edit', edit_user_path %>
</div>
