<div class="boxheader">User details</div>

<div class="right"><%= image_tag @user.avatar.url(:thumb), :class => "right" %></div>


<div class="boxcontent">
	<table class="horizontal">
		<tr><td class="name">Login            </td> <td class="value"><%= @user.login            %> </td></tr>
		<tr><td class="name">Email            </td> <td class="value"><%= mail_to @user.email    %> </td></tr>
		<tr><td class="name">Login count      </td> <td class="value"><%= @user.login_count      %> </td></tr>
		<tr><td class="name">Last request at  </td> <td class="value"><%= @user.last_request_at  %> </td></tr>
		<tr><td class="name">Last login at    </td> <td class="value"><%= @user.last_login_at    %> </td></tr>
		<tr><td class="name">Current login at </td> <td class="value"><%= @user.current_login_at %> </td></tr>
		<tr><td class="name">Last login ip    </td> <td class="value"><%= @user.last_login_ip    %> </td></tr>
		<tr><td class="name">Current login ip </td> <td class="value"><%= @user.current_login_ip %> </td></tr>
	</table>


  <%= link_to 'Edit', edit_user_path %>
</div>
