<div class="boxheader">Listing roles</div>

<div class="boxcontent">
  <table>
    <thead>
      <tr>
        <th>Name</th><th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% for role in @roles %>
        <tr>
          <td><%=h role.name %></td>
          <td>
            <% if permitted_to? :show, role %>
              <%= link_to 'Show', role %>
            <% end %>

            <% if permitted_to? :edit, role %>
              | <%= link_to 'Edit', edit_role_path(role) %>
            <% end %>
            
            <% if permitted_to? :destroy, role %>
              | <%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New role', new_role_path %>
</div>
